header nav{
    display:none;
}
header .btn {
    display:block;
    cursor:pointer;
}
.contact{
	width: 970px;
}
.container{
    width:970px;
}

.products .product {
    width:289px;
    height: 280px;
}

.serviece .demo{
	width: 220px;
}
footer nav dl{
    float:left;
    width: 160px;
}
footer .info{
    width: 293px;
}

